<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-rancher2-index") %>>
          <a href="/docs/providers/rancher2/index.html">Rancher2 Provider</a>
        </li>

        <li<%= sidebar_current("docs-rancher2-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-rancher2-datasource-setting") %>>
              <a href="/docs/providers/rancher2/d/setting.html">rancher2_setting</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-rancher2-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-rancher2-resource-auth-config-activedirectory") %>>
              <a href="/docs/providers/rancher2/r/authConfigActiveDirectory.html">rancher2_auth_config_activedirectory</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-auth-config-adfs") %>>
              <a href="/docs/providers/rancher2/r/authConfigADFS.html">rancher2_auth_config_adfs</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-auth-config-azuread") %>>
              <a href="/docs/providers/rancher2/r/authConfigAzureAD.html">rancher2_auth_config_azuread</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-auth-config-freeipa") %>>
              <a href="/docs/providers/rancher2/r/authConfigFreeIpa.html">rancher2_auth_config_freeipa</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-auth-config-github") %>>
              <a href="/docs/providers/rancher2/r/authConfigGithub.html">rancher2_auth_config_github</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-auth-config-openldap") %>>
              <a href="/docs/providers/rancher2/r/authConfigOpenLdap.html">rancher2_auth_config_openldap</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-auth-config-ping") %>>
              <a href="/docs/providers/rancher2/r/authConfigPing.html">rancher2_auth_config_ping</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-bootstrap") %>>
              <a href="/docs/providers/rancher2/r/bootstrap.html">rancher2_bootstrap</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-catalog") %>>
              <a href="/docs/providers/rancher2/r/catalog.html">rancher2_catalog</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-cluster") %>>
              <a href="/docs/providers/rancher2/r/cluster.html">rancher2_cluster</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-cluster_logging") %>>
              <a href="/docs/providers/rancher2/r/clusterLogging.html">rancher2_cluster_logging</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-cluster_role_template_binding") %>>
              <a href="/docs/providers/rancher2/r/clusterRole.html">rancher2_cluster_role_template_binding</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-namespace") %>>
              <a href="/docs/providers/rancher2/r/namespace.html">rancher2_namespace</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-node-driver") %>>
              <a href="/docs/providers/rancher2/r/nodeDriver.html">rancher2_node_driver</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-node-pool") %>>
              <a href="/docs/providers/rancher2/r/nodePool.html">rancher2_node_pool</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-node-template") %>>
              <a href="/docs/providers/rancher2/r/nodeTemplate.html">rancher2_node_template</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-project") %>>
              <a href="/docs/providers/rancher2/r/project.html">rancher2_project</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-project_logging") %>>
              <a href="/docs/providers/rancher2/r/projectLogging.html">rancher2_project_logging</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-project_role_template_binding") %>>
              <a href="/docs/providers/rancher2/r/projectRole.html">rancher2_project_role_template_binding</a>
            </li>
            <li<%= sidebar_current("docs-rancher2-resource-setting") %>>
              <a href="/docs/providers/rancher2/r/setting.html">rancher2_setting</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
